<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-slate-900">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delta Hacks</title>
    <link rel="stylesheet" href="/static/orb.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-900 text-gray-200 min-h-screen relative">
    <!-- Navbar -->
    <nav
      class="bg-transparent text-white py-6 px-24 flex items-center justify-between z-10"
    >
      <a class="font-bold text-xl tracking-tight" href="#">Music</a>
      <div class="flex items-center">
        <div class="px-6">
          <a
            class="text-sm px-6 py-3 leading-none rounded-full hover:bg-gray-700"
            href="/upload"
            >Home</a
          >
        </div>

        <a
          class="inline-block px-6 py-3 z-10 text-sm font-medium text-white bg-violet-600 border border-violet-600 rounded-full active:text-violet-500 hover:bg-transparent hover:text-violet-600 focus:outline-none focus:ring"
          href="/upload"
        >
          Try it Out
        </a>
      </div>
    </nav>

    <!-- Background -->
    <div class="fixed inset-0 z-0">
      <img
        src="../static/bgpurple.svg"
        class="min-h-full w-full object-cover"
      />
    </div>
    <div class="fixed inset-0 z-1">
      <img src="../static/bgblue.svg" class="min-h-full w-full object-cover" />
    </div>

    <!-- Home -->
    <div class="pt-40 p-12 relative z-10">
      <div class="p-12 flex justify-between">
        <div>
          <p class="font-sans text-7xl font-bold text-gray-200 max-w-5xl pr-24">
            Spend
            <span
              class="bg-clip-text text-transparent bg-gradient-to-r from-violet-500 via-indigo-400 to-fuchsia-400"
              >less time</span
            >
            coding and more time creating
          </p>

          <div class="h-10"></div>
          <p class="max-w-2xl font-sans text-xl text-gray-400">
            Imagine being able to spent less time... This is a demonstration
            landing page made with tailwindcss
          </p>
        </div>
        <!-- <div class="orb -translate-y-12"></div> -->
      </div>
      <div class="px-12 max-w-2xl">
        <a
          class="inline-block w-auto min-w-12 px-6 py-4 text-white transition-all rounded-lg shadow-xl bg-gradient-to-r from-violet-600 to-indigo-600 hover:bg-gradient-to-r hover:from-violet-400 hover:to-indigo-400 shadow-purple-900/50 hover:shadow-2xl hover:shadow-purple-500/50 hover:-translate-y-1"
          href="/upload"
          >Enhance Your Video
        </a>
      </div>
    </div>
  </body>

<chat-bot platform_id="1010e2f2-a7cd-4665-ab7c-6abd3ee81427" user_id="02e532dd-16d0-4e2f-8585-7c83a316a3d7" chatbot_id="edcdc7ea-9c51-4299-b861-ab2ec2620455"><a href="https://www.chatsimple.ai/?utm_source=widget&utm_medium=referral">deltahacks</a></chat-bot><script src="https://cdn.chatsimple.ai/chat-bot-loader.js" defer></script>
</html>
