<!DOCTYPE html>
<html lang="en" class="scroll-smooth bg-slate-800">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delta Hacks</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-slate-800 text-gray-200">
    <!-- Navbar -->
    <nav
      class="bg-gray-800 text-white py-3 px-12 flex items-center justify-between"
    >
      <a class="font-bold text-xl tracking-tight" href="#">Music</a>
      <div class="flex items-center">
        <a
          class="text-sm px-6 py-2 leading-none rounded-full hover:bg-gray-700"
          href="#"
          >Home</a
        >

        <a
          class="inline-block px-6 py-3 text-sm font-medium text-white bg-violet-600 border border-violet-600 rounded-lg active:text-violet-500 hover:bg-transparent hover:text-violet-600 focus:outline-none focus:ring"
          href="/upload"
        >
          Try it Out
        </a>
      </div>
    </nav>
    <div class="h-32 md:h-40 p-12">
      <div class="p-12">
        <p
          class="font-sans text-4xl font-bold text-gray-200 max-w-5xl lg:text-7xl lg:pr-24 md:text-6xl"
        >
          Spend less time coding and more time creating
        </p>
        <div class="h-10"></div>
        <p class="max-w-2xl font-sans text-xl text-gray-400 md:text-2xl">
          Imagine being able to spent less time... This is a demonstration
          landing page made with tailwindcss
        </p>
      </div>
      <div class="p-12">
        <a
          class="inline-block w-auto min-w-[250px] px-6 py-4 text-white transition-all rounded-md shadow-xl sm:w-auto bg-gradient-to-r from-purple-700 to-indigo-700 hover:bg-gradient-to-b hover:from-purple-400 hover:to-indigo-400 shadow-purple-900/50 hover:shadow-2xl hover:shadow-purple-500/50 hover:-translate-y-1"
          href=""
          >Enhance Your Video
        </a>
      </div>
    </div>
  </body>
</html>
