<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Upload for Sentiment Analysis</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="/static/upload.css" />
  </head>
  <body>
    <div class="container">
      <h1>Upload Your Video</h1>
      <p>
        Upload a video file, select a theme, and we'll analyze its sentiment to
        generate background music.
      </p>
      <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="video" accept="video/*" /><br />
        <label for="theme">Choose a theme:</label>
        <select name="theme" id="theme">
          <option value="cowboy">Cowboy</option>
          <option value="classical">Classical</option>
          <option value="vampire">Vampire</option>
          <option value="postmodern">Post-Modernism</option>
          <option value="professional">Professional</option>
          <!-- Add more themes as needed --></select
        ><br />
        <button type="submit">Upload Video</button>
      </form>
    </div>
    <!-- Canvas -->
    <canvas class="orb-canvas"></canvas>
    <!-- Overlay -->
    <div class="overlay">
      <!-- Overlay inner wrapper -->
      <div class="overlay__inner">
        <!-- Title -->
        <h1 class="overlay__title">
          Hey, would you like to learn how to create a
          <span class="text-gradient">generative</span> UI just like this?
        </h1>
        <!-- Description -->
        <p class="overlay__description">
          In this tutorial we will be creating a generative “orb” animation
          using pixi.js, picking some lovely random colors and pulling it all
          together in a nice frosty UI.
          <strong>We're gonna talk accessibility, too.</strong>
        </p>
        <!-- Buttons -->
        <div class="overlay__btns">
          <button class="overlay__btn overlay__btn--transparent">
            <a
              href="https://georgefrancis.dev/writing/create-a-generative-landing-page-and-webgl-powered-background/"
              target="_blank"
            >
              View Tutorial
            </a>
          </button>

          <button class="overlay__btn overlay__btn--colors">
            <span>Randomise Colors</span>
            <span class="overlay__btn-emoji">🎨</span>
          </button>
        </div>
      </div>
    </div>
    <script src="/static/upload.js"></script>
  </body>
</html>
